openapi: 3.0.3
info:
  title: API Artículos - Apoteca
  description: |
    API REST para consultar archivos de artículos APOTECA.
    
    ## Características
    - ✅ Obtener el archivo más reciente de artículos automáticamente
    - ✅ Respuestas JSON estructuradas y consistentes
    - ✅ Consulta por farmacia específica (idFarm)
    - ✅ Consulta por artículo específico (idArticu)
    - ✅ Información de stock en robot
    
    ## Autenticación
    Esta API no requiere autenticación para las consultas públicas.
    
    **⚠️ IMPORTANTE - Versión Beta:**
    - **Versión actual (1.0.0):** Sin autenticación
    - **Versión 1.1 (Próximamente):** Se implementará validación por token de seguridad o por cliente
    - **Recomendación:** Preparar las aplicaciones para la futura implementación de autenticación
    
    ## Rate Limiting
    Se recomienda no hacer más de 10 peticiones por minuto.
    
    ## Soporte
    Para soporte técnico: sistemas@innoverse.es
  version: 1.0.0
  contact:
    name: Sistema de Apoteca
    email: sistemas@innoverse.es

servers:
  - url: https://wsapi.innoverse.es
    description: Servidor de producción


paths:
  /articulos:
    get:
      summary: Obtener artículos
      description: |
        Obtiene el archivo más reciente de artículos y su contenido completo.
        
        Este endpoint devuelve:
        - Lista completa de artículos con sus datos básicos
        - Información de farmacia (idFarm, nombreFarm)
        - Información de stock en robot (EnRobot, stockRobot)
        
        **Parámetros de consulta:**
        - `idFarm` (opcional): ID de la farmacia (por defecto: 1)
        - `idArticu` (opcional): ID específico del artículo a consultar
        
        **Ejemplos de uso:**
        - `GET /articulos` - Obtener todos los artículos de la farmacia por defecto
        - `GET /articulos?idFarm=2` - Obtener todos los artículos de la farmacia 2
        - `GET /articulos?idFarm=1&idArticu=654571` - Obtener un artículo específico
      operationId: obtenerArticulos
      tags:
        - Artículos
      parameters:
        - name: idFarm
          in: query
          description: ID de la farmacia (por defecto 1)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: idArticu
          in: query
          description: ID específico del artículo a consultar (formato de 6 dígitos)
          required: false
          schema:
            type: string
            pattern: '^[0-9]{6}$'
          example: "654571"
      responses:
        '200':
          description: Artículos obtenidos correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticulosResponse'
              examples:
                allArticles:
                  summary: Todos los artículos (sin parámetros)
                  value:
                    idFarm: 1
                    nombreFarm: "Farmacia Prueba1"
                    articulo:
                      - idArticu: "000000"
                        descripcion: "SPD 2 SEMANAS"
                        stockActual: 0
                        EnRobot: "T"
                        stockRobot: 45
                      - idArticu: "000001"
                        descripcion: "ALCOHOL BORICADO A SATURACION (5%) 30 ML SOLUCION OTICA (PO)"
                        stockActual: 0
                        EnRobot: "F"
                        stockRobot: 0
                      - idArticu: "000031"
                        descripcion: "MINOXIDILO 2MG CAPSULAS"
                        stockActual: 1
                        EnRobot: "T"
                        stockRobot: 25
                specificArticle:
                  summary: Artículo específico (con idArticu)
                  value:
                    idFarm: 1
                    nombreFarm: "Farmacia Prueba1"
                    articulo:
                      - idArticu: "654571"
                        descripcion: "ARTÍCULO ESPECÍFICO"
                        stockActual: 10
                        EnRobot: "T"
                        stockRobot: 25
                differentFarm:
                  summary: Farmacia específica (con idFarm)
                  value:
                    idFarm: 2
                    nombreFarm: "Farmacia Prueba2"
                    articulo:
                      - idArticu: "000000"
                        descripcion: "SPD 2 SEMANAS"
                        stockActual: 5
                        EnRobot: "T"
                        stockRobot: 30
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                noFiles:
                  summary: No se encontraron archivos
                  value:
                    error: true
                    message: "No se encontraron archivos de artículos en la carpeta"
                tokenError:
                  summary: Error de token
                  value:
                    error: true
                    message: "Error al renovar access token"
                articleNotFound:
                  summary: Artículo no encontrado
                  value:
                    idFarm: 1
                    nombreFarm: "Farmacia Prueba1"
                    articulo: []
                    message: "Artículo no encontrado"

components:
  schemas:
    Articulo:
      type: object
      required:
        - idArticu
        - descripcion
        - stockActual
        - EnRobot
        - stockRobot
      properties:
        idArticu:
          type: string
          description: ID único del artículo (formato de 6 dígitos)
          example: "000000"
          pattern: '^[0-9]{6}$'
        descripcion:
          type: string
          description: Descripción del producto
          example: "SPD 2 SEMANAS"
        stockActual:
          type: integer
          description: Cantidad en stock
          minimum: 0
          example: 0
        EnRobot:
          type: string
          description: Indica si el artículo está en robot ("T" para sí, "F" para no)
          enum: ["T", "F"]
          example: "T"
        stockRobot:
          type: integer
          description: Cantidad en stock del robot (0 si EnRobot es "F")
          minimum: 0
          example: 45

    ArticulosResponse:
      type: object
      required:
        - idFarm
        - nombreFarm
        - articulo
      properties:
        idFarm:
          type: integer
          description: ID de la farmacia consultada
          example: 1
        nombreFarm:
          type: string
          description: Nombre de la farmacia consultada
          example: "Farmacia Prueba1"
        articulo:
          type: array
          description: Lista de artículos disponibles
          items:
            $ref: '#/components/schemas/Articulo'
          example:
            - idArticu: "000000"
              descripcion: "SPD 2 SEMANAS"
              stockActual: 0
              EnRobot: "T"
              stockRobot: 45
            - idArticu: "000001"
              descripcion: "ALCOHOL BORICADO A SATURACION (5%) 30 ML SOLUCION OTICA (PO)"
              stockActual: 0
              EnRobot: "F"
              stockRobot: 0
            - idArticu: "000031"
              descripcion: "MINOXIDILO 2MG CAPSULAS"
              stockActual: 1
              EnRobot: "T"
              stockRobot: 25
        message:
          type: string
          description: Mensaje informativo (solo cuando no se encuentra un artículo específico)
          example: "Artículo no encontrado"

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: boolean
          description: Indica que hubo un error
          example: true
        message:
          type: string
          description: Mensaje de error descriptivo
          example: "No se encontraron archivos de artículos en la carpeta"

  securitySchemes:
    # No se requiere autenticación para esta API (versión 1.0.0)
    NoAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Esta API no requiere autenticación en la versión actual (1.0.0).
        
        **⚠️ IMPORTANTE:** En la versión 1.1 se implementará autenticación por token.
        Se recomienda preparar las aplicaciones para esta futura implementación.

security:
  - NoAuth: []

tags:
  - name: Artículos
    description: Operaciones relacionadas con la obtención de artículos
